/*
* @Author: Marte
* @Date:   2017-01-02 19:42:51
* @Last Modified by:   Marte
* @Last Modified time: 2017-01-02 20:18:31
*/
.goOrder{
    position: absolute;
    bottom: 0px;
    right:50px;
}
.paybtn{
    position: fixed;
    bottom:5%;
    width: 96%;
    left: 50%;
    margin-left: -48%;
}
